

table {
  width: 100%;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
  border: 1px solid black;
}


::ng-deep .mat-icon {
margin-left: 80%;
}

.icon{
  width:2%;
  border-left: none;
}
.symbol{
  width:18%;
  border-right: none;

}
